@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
  }
}

#nprogress .bar {
  background: #00BA34 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #00BA34, 0 0 5px #00BA34 !important;
}