@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
  }
}
@layer base {
  body {
    @apply dark:bg-dark-100 dark:text-white bg-gray-50 text-gray-900
  }
}

*{
  scroll-behavior: smooth; /*a tag anchor click to scroll*/
}

#nprogress .bar {
  background: #00BA34 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #00BA34, 0 0 5px #00BA34 !important;
}


/* Nprogress Bar Styles */

.codeline-number{
  display: inline-block;
  width: 2em;
  user-select: none;
  opacity: 0.3;
}

.codeblock{
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;

  
}
.token-line {
  /* line-height: 1.3em;
  height: 1.3em;
  font-family: sans-serif; */
  @apply text-base font-serif	
}

/* CodeBlock Styles */

.anchor{
  @apply no-underline font-bold
}



/* ----progress scroll detail post */
.progress-scroll {
  position: fixed;
  top: 88px;
  left: 0;
  right: 0;
  height: 10px;
  background: #00BA34;
  transform-origin: 0%;
  z-index: 10;
}